@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --primary-foreground: #f7f8fa;
  --secodrary: #e8f0f5;
  --green: #1fa45b;
}

body {
  background: var(--primary-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
